* 
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: Nunito
.container 
    margin: 0 auto
    width: 1400px
.backgroundColor
    display: flex
    border-radius: 10px
    width: 685px
    height: 600px
    margin-top: 210px
    margin-left: 430px
    background-color: #282828
.ellipse 
    background-color: #EE9816
    color: #EE9816
    border-radius: 50px
    width: 19px
    height: 19px
    margin-top: 15px
    margin-left: 13px
.swapLanguage 
    width: 50px
    height: 13px
    margin-top: 11px
    margin-left: 60px
.swapLanguage a
    font-size: 10px
    font-style: none
    color: #ffffff
    text-decoration: none
    border: 1px solid #EE9816 
    border-radius: 3px
    width: 21px
    height: 13px
.swapLanguage .EN 
    background-color: #EE9816
    color: #ffffff
    margin-right: 8px
    padding: 1px
.swapLanguage .RU 
    color: #EE9816 
    padding: 1px
.image img
    position: absolute
    right: 545px
    top: 209px
    width: 180px
    height: 134px
    z-index: 1
.text 
    position: absolute
    right: 545px
    top: 209px
    z-index: 2
    color: #ffffff
    text-align: center
.text p 
    margin-top: 34px
    margin-right: 29px
    width: 100px
    height: 14px
    font-size: 10px
    opacity: 67%
.text h1 
    width: 93px
    height: 33px
    top: 253px
    right: 545px
    font-size: 24px
.SignUp 
    position: absolute
.SignUp h1
    color: #EE9816
    margin-top: 99px
    margin-left: 91px
    font-weight: 900
.SignUp p 
    color: #ffffff
    margin-left: 91px
.SignUp span 
    color: #EE9816
.RegInput 
    position: absolute
    margin-left: 91px
    margin-top: 222px
.RegInput input 
    width: 504px
    height: 30px
    display: flex
    background-color: #282828
    border: 0 solid #282828
    border-bottom: 1px solid #EE9816  
    border-radius: 5px
.BtnCA
    background: rgb(238,152,22)
    position: absolute
    color: #ffffff
    width: 504px
    height: 50px
    font-size: 20px
    font-weight: 600
    margin-top: 442px
    left: 780px
    border-radius: 15px

    